body {
    margin: 0;
    padding: 0;
}

.header {
    position: static;
    width: auto;
    height: 220px;
    background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../img/jungle.jpg") center no-repeat
}

.gringo {
    position: absolute;
    margin: 0;
    left: 250px;
    top: 65px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 50px;
}

.teach {
    position: absolute;
    margin: 0;
    left: 330px;
    top: 105px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 50px;
}

.U {
    color: rgba(215, 230, 9, 0.829);
}

.dropbtn {
    float: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    padding-top: 3px;
    width: 20%;
    height: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.829);
}

.dropdown-content {
    display: block;
    position: absolute;
    margin-left: 0;
    background-color: #f1f1f1;
    min-width: 383.5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 255px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}


/*
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */